.imageContainer > span {
    position: unset !important;

    .logoByKa{
        max-height:25px ;
    }
  }
  
  .image {
    object-fit: contain;
    width: 100% !important;
    position: relative !important;
    height: unset !important;
  }