.servicios {
    background-color: #f7f7f7;
    width: 100%;

    .serviciosContainer {
        background-color: var(--primary-red);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: calc(100% - 30px);
        border-radius: 10px;
        margin: auto;
        max-width: 1200px;
    }

    h3 {
        color: white;
        font-size: 16px;
    }

    .serviciosImg {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-around;
        width: 100%;

    }

    .serviciosImgContainer {
        min-width: 130px;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
    }

    .servicios-imgs img {
        width: 100px;
        height: 100px;
        cursor: pointer;
    }
}

.serviciosDescripcion {

    .iconBoxesContainer {
        display: flex;
        flex-wrap: wrap;
        width: 80%;
        justify-content: space-around;
        align-items: center;
        margin: auto;
    }

    .icon-box-1 {
        flex: 1 1 300px;
        max-width: 300px;
    
    }

    .iconContainer {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100px;
        width: 100px;
        margin-bottom: 0;
        cursor: pointer;

        img {
            max-width: 80%;
            max-height: 80%;
        }
    }

    .icon-box-1 .icon-container img {
        opacity: 1;
        transform: translate3d(0, 0, 0) scale(1);
        transition: all 0.2s ease-in;
        display: inline-block;
    }

    .icon-box-1:hover .icon-container img {
        opacity: 0;
        transform: translate3d(0, 0, 0) scale(1.16);
    }

    .icon-box-1.alternative:hover .icon-container img {
        opacity: 1;
        transform: translate3d(0, 0, 0) scale(1);
    }

    .icon-box-1 .icon-container .icon-links a {
        margin: 0;
        padding: 0;
        font-size: 14px;
    }

}