@import '../../assets/variables';

.footer {
    background-color: $rojo-1;
    display: flex;
    flex-direction: column;
    padding: 15px;
    align-items: center;
    justify-content: space-evenly;

    >div {
        width: 100%;
        padding: 10px;
        max-width: 750px;
    }

    .footerLogosContainer {
        display: flex;
        flex-direction: row;
        height: auto;

        >div {
            flex: 0 0 50%;
            display: flex;
            align-items: center;
            justify-content: space-around;
        }
    }

    .footerTexto {
        border-radius: 10px;
        max-width: 1000px;
        padding-bottom: 20px;
        display: flex;
        align-self: center;
        justify-content: center;
    }

    .footerTexto p {
        font-size: 14px;
        line-height: 20px;
        margin: 0;
        color: #f3eed5;
        text-align: justify;
    }

    .footerTextoDatos {
        border-radius: 10px;
        display: flex;
        align-items: center;
        justify-content: space-around;
        flex-direction: row;
        flex-wrap: wrap;
    }

    .footerTextoDatos>* {
        width: fit-content;
        line-height: normal;
        color: #f3eed5;
        font-size: 12px;
        margin: 5px;
    }

    a:hover {
        text-decoration: none;
        color: #333;
        outline: none !important;
        transition: color .2s;
        background-color: transparent;
    }
}

.logoDuit {
        max-height: 55px;
}

.logoByHa {
    margin-top: 8px;
}

@media only screen and (min-width: 1024px) {
    .footer {
        display: flex;
        max-width: 1300px;
        margin: 25px auto;
        border-radius: 5px;

        .footerTexto {
            padding-bottom: 0;
        }

        .footerTexto p {
            font-size: 16px;
            line-height: 25px;
        }

        .footerTextoDatos>* {
            font-size: 14px;
        }
    }
}

@media only screen and (max-width: 1024px) {
    .footer {
        padding-bottom: 100px;
    }
}