@import '../../assets/variables';

.footer {
    padding: 15px;
    background-color: $rojo-1;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;

    >div {
        width: 100%;
        padding: 10px;
        max-width: 750px;
    }

    .copy {
        align-self: center;
        border-radius: 10px;
        max-width: 1000px;
        padding-bottom: 0px;
        display: flex;

        p {
            font-size: 14px;
            line-height: 25px;
            color: #f3eed5;
            text-align: justify;
        }
    }

    .footerLogosContainer {
        display: flex;
        flex-direction: row;
        height: auto;
        // display: flex;
        // flex: 0 0 50%;
        // flex-direction: row;
        // align-items: center;
        // justify-content: space-around;
        // text-align: center;

        div {
            flex: 0 0 50%;
            display: flex;
            align-items: center;
            justify-content: space-around;


        }
        .logoDuit {
            max-height: 55px;
            background-color: aqua;
            
        }
        .logo {
            max-height: 25px;
            width: auto;
            margin-top: 8px;
        }
    }



    .footerContactoContainer {
        flex-wrap: wrap;
        border-radius: 10px;
        align-items: center;
        justify-content: space-around;
        display: flex;
        flex-direction: row;

        >* {
            width: fit-content;
            line-height: normal;
            color: #f3eed5;
            font-size: 12px;
            margin: 5px;
        }
    }
}

@media only screen and (min-width: 1024px) {

    .footer {
        max-width: 1300px;
        margin: 25px auto;
        border-radius: 5px;

        .copy {
            padding-bottom: 0;

            p {
                font-size: 16px;
                line-height: 25px;
            }
        }

        .footerContactoContainer>* {
            font-size: 14px;
        }
    }
}