@import "../../assets/variables";


.contacto {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    max-width: 1400px;
    margin: auto;
    height: 400px;


    h3 {
        color: $rojo-1;
        font-weight: bolder;
        width: 30%;
        margin-top: 20px;
        margin-bottom: 10px;
        font-size: 24px;
    }

    .formulario {
        width: 60%;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;

        
    }



    .contactFormGroup {
        width: 100%;
        display: flex;
        align-items: center;
        margin-bottom: 25px;

        .formControl {
            border-radius: 10px;
        }
    }

    .formControl:focus+.inputPlaceholder,
    .formControl:not(:placeholder-shown)+.inputPlaceholder {
        transform: translateY(-35px);
        font-size: 90%;
        opacity: 1;
    }

    .formControl:focus+.textareaPlaceholder,
    .formControl:not(:placeholder-shown)+.textareaPlaceholder {
        transform: translateY(-75px);
        font-size: 90%;
        opacity: 1;
    }

    input,
    textarea {
        margin: 0;
        height: 51px;
        line-height: 51px;
        padding: 0 20px;
        outline: 0;
        font-size: 15px;
        color: gray;
        max-width: 100%;
        width: 100%;
        box-sizing: border-box;
        display: block;
        background-color: #fcfcfc;
        font-weight: 500;
        border: 1px solid #e0e0e0;
        opacity: 1;
        border-radius: 3px;
        user-select: none;
    }

    textarea {
        min-height: 130px;
        transition: none !important;
        min-width: 100%;
    }

    .inputPlaceholder,
    .textareaPlaceholder {
        position: absolute;
        margin: 0;
        padding-left: 20px;
        transition: all 200ms;
        opacity: 0.5;
        cursor: text;
    }

    label {
        display: block;
        font-weight: bold;
        font-size: 16px;
        font-weight: normal;
        margin-bottom: 8px;
        user-select: none;
    }

    button {
        background-color: $rojo-1;
        top: 0;
        padding: 10px 20px;
        color: #fff;
        position: relative;
        font-size: 15px;
        font-weight: 500;
        display: inline-block;
        transition: all .2s ease-in-out;
        cursor: pointer;
        margin-right: 6px;
        overflow: hidden;
        border: 0;
        border-radius: 3px;
    }
}


.noSelect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.contactoContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: auto;
    max-width: 1200px;
    font-size: 15px; // bootstrap
    line-height: 27px; // bootstrap
}

